<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <header th:include="@{/fragments/sidebar.html}"></header>
    <div class="container">
        <h1>Welcome to <span th:text="${shopName}"></span>!</h1>
        <div class = "homeBox">
            <p><span th:text = "${shopName}"></span> is an online marketplace made for listing, browsing,
            and purchasing different products!</p>
            <br>
            <p>These products could be everyday appliances, entertainment, jewelry, groceries, clothing, and more!</p>
            <br>
            <p>To get started, please visit one of the links below depending on what you're looking for!</p>
            <br>
            <a class="homeButton" th:href = "@{/shop/products/1}">View Products</a>
            <a class="homeButton" th:href = "@{/shop/products/add}">List a Product</a>

        </div>

    </div>
</body>
</html>
